/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

:root {
  --capcom-text: #090002;
  --capcom-bg: #e5e7eb;
  --capcom-yellow: #ffcb08;
  --capcom-blue: #0047a0;

  --max-page: 1440px;
}

[data-theme='dark'] {
  --capcom-text: #e5e7eb;
  --capcom-bg: #121212;
}

html {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
  background-color: var(--capcom-bg);
  color: var(--capcom-text);
}

@layer components {
  .btn {
    @apply bg-capcomBlue text-capcomWhite text-center font-bold py-2 px-4 rounded transition-transform hover:scale-105 focus:scale-105;
  }

  .btn--border {
    @apply border-2 bg-capcomYellow border-capcomBlue text-capcomBlue;
  }

  .btn--icon {
    @apply btn btn--border rounded-full h-[40px] w-[40px] flex items-center justify-center p-0;
  }

  .link {
    @apply text-capcomBlue font-semibold hover:underline focus:underline;
  }
}
