/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-brand: #92e9bf;
  --color-brand-darker: #389c6c;
  --color-brand-opacity: rgba(146, 233, 191, 0.4);
  --color-text-main: #181818;
  --color-bg: #f3f3f3;
  --color-bg-lighter: #fff;
  --shadow: 0px 1px 6px rgba(0, 0, 0, 0.1), 0px 6px 24px rgba(0, 0, 0, 0.13);
}

body {
  background-color: var(--color-bg);
  font-family: "Helvetica", sans-serif;
  padding: 0 20px;
}

h1 {
  text-align: left;
  width: 100%;
  font-size: 41px;
  margin: 50px 0 0;

  & span {
    color: var(--color-brand);
  }
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 65px;
  }
}

.weather {
  display: grid;
  width: 100%;
  margin: 25px 0;
  grid-gap: 3%;
  grid-template-areas:
    "search"
    "current"
    "extra";
}

@media only screen and (min-width: 768px) {
  .weather {
    grid-template-columns: 40% 57%;
    grid-template-areas:
      "current search"
      "current extra";
  }
}

.weather__current {
  grid-area: current;
  background: var(--color-bg-lighter);
  box-shadow: var(--shadow);
  padding: 13px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  border-radius: 15px;

  & svg {
    background: var(--color-brand);
    border-radius: 50%;
    max-width: 75px;
  }
}

.weather__current__temperature {
  font-size: 30px;
  font-weight: 700;
}

.weather__search {
  grid-area: search;
  display: flex;
  gap: 15px;
  width: 100%;
  justify-content: space-between;

  & .btn {
    flex: 1;
  }
}

.weather__extra {
  grid-area: extra;
  box-shadow: var(--shadow);
  padding: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  margin-top: 20px;
}

.weather__extra__detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.weather__extra__detail__label {
  color: var(--color-brand);
  font-size: 0.875rem;
}

.weather__extra__detail__value {
  font-size: 30px;
  font-weight: 700;
}

.btn {
  color: var(--color-text-main);
  background: var(--color-brand);
  border: 1px solid var(--color-border);
  padding: 5px 15px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 20px;

  &:hover,
  &:focus {
    background: var(--color-brand-darker);
  }
}

input {
  border: 1px solid var(--color-border);
  border-radius: 25px;
  padding: 5px 25px 0;
  min-width: 55%;
}

input::placeholder {
  font-size: 20px;
  color: var(--color-border);
}

figure {
  max-width: 100%;
  width: 100%;
  position: relative;
  height: 175px;
  margin: 20px 0;
}

figure img {
  width: 100%;
  max-width: 100%;
  min-height: 175px;
  height: 175px;
  object-fit: cover;
  border-radius: 15px;
}

figure picture {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  min-height: 175px;
  height: 175px;
}

figure picture::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: var(--color-brand-opacity);
}

figure figcaption {
  text-align: center;
  margin: 40px 0;

  & a {
    color: var(--color-brand);
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

@media only screen and (min-width: 768px) {
  figure {
    margin: 0;
  }

  figure figcaption {
    text-align: right;
  }
}
